<div class="row">
    <div class="column-md-4">
      <div style="margin-top:100px;margin-left:80px;"class="container">
    <div class="row">
        <div style="background-color:rgb(202, 202, 202)" class="col-md-10 ">
        <div style ="height:450px;margin-bottom:20px;background-color:hsl(180, 3%, 87%); "class="filter-sidebar">
        <div style="background-color:rgb(82, 82, 82)" class="row card-body py-2 mb-3 ">
        <h4 style ="color:#ffffff ">Narrow Your Results</h4>
        </div>    
        <div style="margin-top:20px;height:50px; " class="form-group">
        <select class="form-control" id="conditionsselect1">
        <option>Distance</option>
        <option>option1</option>
        <option>option2</option>
        </select>
        </div>
  
  
        <div style="margin-top:40px" class="form-group">
          <select class="form-control" id="conditionsselect2">
            <option>Minimum Education</option>
            <option>Masters</option>
            <option>bachelors</option>
            <option>Diploma</option>
            <option>Certification</option>
          </select>
       </div>
  
       <div  style="margin-top:40px" class="form-group">
        <select class="form-control" id="make1">
          <option>Experience</option>
          <option>Less than 1</option>
          <option>more than 1</option>
          <option>more than 2</option>
          <option>more than 5</option>
          <option>Exactly</option>
        </select>
     </div>
  
  
     <div   style="margin-top:40px" class="form-group">
      <select class="form-control" id="make1">
        <option>Rating(Out of Five)</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
   </div>
  
  
   <div  style="margin-top:40px"  class="form-group">
    <select class="form-control" id="mileage1">
      <option>Rates</option>
      <option> 5000</option>
      <option>5000-10000</option>
      <option>10000-15000</option>
      <option>15000-20000</option>
      <option>20000-25000</option>
      <option>> 25000</option>
    </select>
  </div>
  </div>
  </div>
  </div>
  </div> 
  </div>
  
  
  
  
  <div style="margin-left:100px" class ="column-md-8">
  
  <div class="card" style="background-color:#ECECEC;margin-top:32mm;margin-bottom:40mm" >
    <div class="card-body">
       
        <div style="margin-top:40px;"class="row">
            <div class="column-md-6">
                <div class="card" style="background-color:#ffffff;" >
                    <div style="width:35cm;height: 5cm;" class="card-body">
                        <input style ="width:1cm;height:1cm;margin-left:33cm;"type="image" name="submit"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8sWnslV6EGkjI2PHjRvmxzzRafqCiwVXBCQxbe6IY3kWk6KSc"
                        alt="Add to Cart"> 
                           <p><button style="color: red;margin-bottom :10mm;margin-left:31cm;margin-top:23mm;">View Profile</button></p>
                         
                      
          </div>
        </div>
   </div>
  </div>

  </div>
  </div>
  </div>
  </div>
  

